<article{{ attributes }}>
  <div{{ content_attributes}}>
    <div class="container">
      <div class="text-background">
        {{ title_prefix }}
        <h2{{ title_attributes }}>{{ label }}</h2>
        {{ title_suffix }}
        {{ content|without('field_media_image') }}
      </div>
    </div>
  </div>
  <img class="flexslider-image-object" src="{{ image_url }}">
</article>
