{# HG Mercury News Template #}
{% set classes = [
  'row',
  'mercury',
  'news-full',
  'mb-5',
  'clearfix',
] %}
{# Attached Style Sheet #}
{{ attach_library('hg_reader/hg_reader') }}

{# Content Start #}
<article{{ attributes.setAttribute('id', 'mercury').addClass(classes) }}>

  {# Set Main Container #}
  <div class="col-md-8 col-sm-12">

    {# Images #}
    {% if content.field_hg_images|render is not empty %}
      <div class="image">
        {{ content.field_hg_images.0 }}
      </div>
    {% endif %}

    {# Dateline #}
    {% if content.field_hg_dateline is not empty %}
      <div class="dateline">
        <h6>
          {% if content.field_hg_dateline|render is not empty and content.field_hg_location|render is not empty %}
            {{ node.field_hg_dateline.value|date('M d, Y') }} {{ ' - '|t }} {{ content.field_hg_location[0] }}
          {% elseif content.field_hg_location|render is empty %}
            {{ node.field_hg_dateline.value|date('M d, Y') }}
          {% endif %}
        </h6>
      </div>
    {% endif %}

    {# Body #}
    {% if content.body|render is not empty %}
      <div class="description">
        {{ content.body }}
      </div>
    {% endif %}

    {# Render remaining Images #}
    {% if content.field_hg_images|render is not empty %}
      <div class="row">
        {% for key, item in content.field_hg_images %}
          {% if key > 0 %}
            <div class="col-sm-5 event-image-remaining">
              <picture>
                {{ item }}
              </picture>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

  </div>
  {# End Main Container #}

  {# Sidebar Right #}
  <div class="col-md-4 col-sm-12 sidebar sidebar-right">

    {% if content.field_hg_sidebar|render is not empty %}
      <div class="card sidebar-content rounded border-0 p-3">
        {{ content.field_hg_sidebar }}
      </div>
    {% endif %}

    {# Contact #}
    {% if content.field_hg_contact|render is not empty %}
      <div class="card bg-light contact rounded border-0 p-3">
        {{ content.field_hg_contact }}
      </div>
    {% endif %}

    {# Email #}
    {% if content.field_hg_email|render is not empty %}
      <div class="card bg-light email rounded border-0 p-3">
        {{ content.field_hg_email }}
      </div>
    {% endif %}

    {# Related Files #}
    {% if content.field_hg_related_files|render is not empty %}
      <div class="card related-files rounded border-0 p-3">
        {{ content.field_hg_related_files }}
      </div>
    {% endif %}

    {# Related Links #}
    {% if content.field_hg_related_links|render is not empty %}
      <div class="card related-links rounded border-0 p-3">
        {{ content.field_hg_related_links }}
      </div>
    {% endif %}

    {# Categories #}
    {% if content.field_hg_categories|render is not empty %}
      <div class="card categories rounded border-0 p-3">
        {{ content.field_hg_categories }}
      </div>
    {% endif %}

    {# Core research areas #}
    {% if content.field_hg_core_research_areas|render is not empty %}
      <div class="card core_research_areas rounded border-0 p-3">
        {{ content.field_hg_core_research_areas }}
      </div>
    {% endif %}

    {# News Rooms Topics #}
    {% if content.field_hg_news_room_topics|render is not empty %}
      <div class="card news-room-topics rounded border-0 p-3">
        {{ content.field_hg_news_room_topics }}
      </div>
    {% endif %}

    {# Keywords #}
    {% if content.field_hg_keywords|render is not empty %}
      <div class="card keywords rounded border-0 p-3">
        {{ content.field_hg_keywords }}
      </div>
    {% endif %}

  </div>
</article>
