{# HG Mercury Event Template #}
{% set classes = [
  'mercury-event',
  'clearfix',
] %}
{# Attached Style Sheet #}
{{ attach_library('hg_reader/hg_reader') }}

{# Content Start #}
<article{{ attributes.setAttribute('id', 'mercury').addClass(classes) }}>
  <div class="row">
    {# Left Column = Column 1 of 2 #}
    <div class="col-md-3 col-sm-12 left-sidebar">
      {# Time Wrapper #}
      <div class="time-day-wrapper">
        <time datetime='{{ node.field_hg_event_time.start_date|date('c') }}'>
          <div class="day-wrapper">
            {# Day #}
            {% set day_start = node.field_hg_event_time.start_date|date('l') %}
            {% set day_end = node.field_hg_event_time.end_date|date('l') %}
            <h3>
              {% if day_start is not empty and day_start is same as(day_end) %}
                {{ day_start }}
              {% else %}
                {# Multi #}
                {{ day_start }}
              {% endif %}
            </h3>
          </div>
          <div class="full-date-wrapper">
            {# Month #}
            {% set month_start = node.field_hg_event_time.start_date|date('F') %}
            {% set month_end = node.field_hg_event_time.end_date|date('F') %}
            <h3>
              {% if month_start is not empty and month_start is same as(month_end) %}
                {{ month_start }}
              {% else %}
                {# Multi #}
                {{ month_start ~ ' - ' ~ month_end }}
              {% endif %}
              {# Date #}
              {% set date_start = node.field_hg_event_time.start_date|date('j') %}
              {% set date_end = node.field_hg_event_time.end_date|date('j') %}
              {% if date_start is not empty and date_start is same as(date_end) %}
                {{ date_start }}{{ ", "|t }}
              {% else %}
                {# Multi #}
                {{ date_start ~ ' - ' ~ date_end }}{{ ", "|t }}
              {% endif %}
              {# Year #}
              {% set year_start = node.field_hg_event_time.start_date|date('Y') %}
              {% set year_end = node.field_hg_event_time.end_date|date('Y') %}
              {% if year_start is not empty and year_start is same as(year_end) %}
                {{ year_start }}
              {% else %}
                {# Multi #}
                {{ year_start }}
              {% endif %}
            </h3>
          </div>
          {# Time #}
          <div class="time-wrapper">
            {% set allday_start = node.field_hg_event_time.start_date|date('g:iA', false)|join|replace({' ':'', ' - ':'',':':''})|lower %}
            {% set allday_end = node.field_hg_event_time.end_date|date('g:iA', false)|join|replace({' ':'', ' - ':'',':':''})|lower %}
            {% set time_start = node.field_hg_event_time.start_date|date('g:iA', false) %}
            {% set time_end = node.field_hg_event_time.end_date|date('g:iA', false) %}
            {# All Day #}
            {% if allday_start ~ allday_end == '1200am1159pm' %}
              <h5>{{ 'All Day'|t }}</h5>
              {# Start and End time same #}
            {% elseif time_start is not empty and time_start is same as(time_end) %}
              <time>{{ time_start }}</time>
              {# Start and End time #}
            {% elseif time_start is not empty and time_end is not empty %}
              <time>{{ time_start }}</time>
              <bdi class="mx-1">{{ '-'|t }}</bdi>
              <time>{{ time_end }}</time>
            {% else %}
            {% endif %}
          </div>
        </time>
      </div>
      {# /Time Wrapper #}

      {# Event Information Wrapper #}
      <div class="event-info">
        {# Contact #}
        {% if content.field_hg_contact|render is not empty %}
          <div class="contact mb-4 w-100">
            {{ content.field_hg_contact }}
          </div>
        {% endif %}
        {# Location Phone #}
        {% if content.field_hg_location_phone|render is not empty %}
          <div class="location-phone mb-4">
            <label class="h4 w-100">
              {{ 'Phone'|t }}
            </label>
            <div class="phone">{{ content.field_hg_location_phone.0 }}</div>
          </div>
        {% endif %}
        {# Location Email #}
        {% if content.field_hg_location_email|render is not empty %}
          <div class="location-email mb-4">
            <label class="h4 w-100">
              {{ 'Email'|t }}
            </label>
            <a href="mailto:{{ content.field_hg_location_email.0|raw }}">{{ 'Send Email'|t }}</a>
          </div>
        {% endif %}
        {# Location #}
        {% if content.field_hg_location is not empty %}
        <div class="location mb-4">
          {% if content.field_hg_location|render is not empty and content.field_hg_location_url|render is empty %}
            {{ content.field_hg_location }}
          {% else %}
            {% if node.field_hg_location_url.0.url.external %}
              <a href="{{ node.field_hg_location_url.uri }}"
                aria-label="{{ 'Location Information'|t }}" target="_blank">
                {{ 'Location Information'|t }}
              </a>
            {% elseif node.field_hg_location_url.0.url.routeName %}
              <a href="{{ node.field_hg_location_url.uri }}"
                aria-label="{{ 'Location Information'|t }}">
                {{ 'Location Information'|t }}
              </a>
            {% endif %}
          {% endif %}
          {% endif %}
        </div>
        {# Fee and Extra #}
        {% if content.field_hg_fee|render is not empty and content.field_hg_extras|render is empty %}
          {# Fee #}
          <div class="fee-wrapper mb-4">
            <div class="fee">
              <label class="h4 w-100">
                {{ 'Fee'|t }}
              </label>
              <p>{{ content.field_hg_fee.0 }}</p>
            </div>
          </div>
        {% else %}
          {# Fee and Extras #}
          {% if content.field_hg_fee|render is not empty and content.field_hg_extras|render is not empty %}
            <div class="fee-wrapper-extras mb-4">
              <div class="fee">
                <label class="h4 w-100">
                  {{ 'Fee'|t }}
                </label>
                <p>{{ content.field_hg_fee.0 }}</p>
              </div>
              <div class="extras">
                <label class="h4 w-100">
                  {{ 'Extras'|t }}
                </label>
                <p>{{ content.field_hg_extras.0 }}</p>
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
      {# /Event Information Wrapper #}

      {# Event Extras Wrapper #}
      <div class="event-info-extra">
        {# Related Links #}
        {% if content.field_hg_related_links|render is not empty %}
          <div class="related-links py-3">
            <label class="h4 w-100">
              {% if content.field_hg_related_links['#items']|length == '1' %}
                {{ 'Related Link'|t }}
              {% else %}
                {{ 'Related Links'|t }}
              {% endif %}
            </label>
            {% for item in content.field_hg_related_links %}
              {% if item['#title'] %}
                <a href="{{ item['#url'] }}" class="hg-link"
                  aria-label="{{ 'Related Link'|t ~ ' ' ~ item['#title'] }}"
                  role="button">{{ item['#title'] }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {# Related Files #}
        {% if content.field_hg_related_files|render is not empty %}
          <div class="related-files my-3">
            {{ content.field_hg_related_files }}
          </div>
        {% endif %}
        {# Event Categories #}
        {% if content.field_hg_event_categories|render is not empty %}
          <div class="event-categories py-3">
            <label class="h4 w-100">
              {% if content.field_hg_event_categories['#items']|length == '1' %}
                {{ 'Event Category'|t }}
              {% else %}
                {{ 'Event Categories'|t }}
              {% endif %}
            </label>
            {% for item in content.field_hg_event_categories %}
              {% if item['#title'] %}
                <a href="{{ item['#url'] }}" class="hg-link"
                  aria-label="{{ 'Event Category'|t ~ ' ' ~ item['#title'] }}"
                  role="button">{{ item['#title'] }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {# Invited Audience #}
        {% if content.field_hg_invited_audience|render is not empty %}
          <div class="invited-audience py-3">
            <label class="h4 w-100">
              {% if content.field_hg_invited_audience['#items']|length == '1' %}
                {{ 'Invited Audience'|t }}
              {% else %}
                {{ 'Invited Audiences'|t }}
              {% endif %}
            </label>
            {% for item in content.field_hg_invited_audience %}
              {% if item['#title'] %}
                <a href="{{ item['#url'] }}" class="hg-link"
                  aria-label="{{ 'Invited Audience'|t ~ ' ' ~ item['#title'] }}"
                  role="button">{{ item['#title'] }}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        {# Sidebar Extra Content #}
        {% if content.field_hg_sidebar|render is not empty %}
          <div class="extra-sidebar my-3">
            {{ content.field_hg_sidebar }}
          </div>
        {% endif %}
      </div>
    </div>
    {# /Event Extras Wrapper #}
    {# /End Left Column #}

    {# Right Column = Column 2 of 2 #}
    <div class="col-md-9 col-sm-12 main-content-wrapper">
      {# Images #}
      {% if content.field_hg_images|render is not empty %}
        <div class="event-image mb-4">
          <picture>
            {{ content.field_hg_images[0] }}
          </picture>
        </div>
      {% endif %}
      {# Body #}
      {% if content.body|render is not empty %}
        <div class="description mb-4">
          {{ content.body[0] }}
        </div>
      {% endif %}
      {# Render remaining Images #}
      {% if content.field_hg_images|render is not empty %}
        <div class="row">
          {% for key, item in content.field_hg_images %}
            {% if key > 0 %}
              <div class="col-sm-5 event-image-remaining">
                <picture>
                  {{ item }}
                </picture>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {# /Right Column #}

  </div>{# /Row #}
</article>{# /Article #}
