{# HG Event Views Template #}

{# Attached Style Sheet #}
{{ attach_library('hg_reader/hg_reader') }}

{# Set Date/Time Col Classes #}
    {# Day #}
    {% if  node.field_hg_event_time.value|date('l') %}
      {% set day = "day" %}
    {% endif %}
    {# Month #}
    {% if  node.field_hg_event_time.value|date('M') %}
      {% set month = "month" %}
    {% endif %}
    {# Date #}
    {% if  node.field_hg_event_time.value|date('M') %}
      {% set date = "date" %}
    {% endif %}
    {# Year #}
    {% if  node.field_hg_event_time.value|date('Y') %}
      {% set year = "year" %}
    {% endif %}
    {# Time #}
    {% if  node.field_hg_event_time.value|date('g:iA') %}
      {% set time = "time" %}
    {% endif %}

{# Content Start #}
{# Set Div wrapper ID #}
<div id="mercury" class="row mb-5 clearfix">

  {# Calendar/Time Wrapper #}
  <div class="col-md-4 col-sm-6 col-xs-12">
    {# Date Wrapper #}
    <div class="date-wrapper p-0 w-100">
      {# Day #}
      {% if node.field_hg_event_time.start_date|date('l') is not empty and node.field_hg_event_time.start_date|date('l') is same as(node.field_hg_event_time.end_date|date('l')) %}
        <div class="col day">
          {{ node.field_hg_event_time.start_date|date('l') }}
        </div>
      {% else %}
        {# Multi #}
        <div class="col day-multi">
          {{ node.field_hg_event_time.start_date|date('l')  ~ ' - ' ~ node.field_hg_event_time.end_date|date('l') }}
        </div>
      {% endif %}
      {# Month #}
      {% if node.field_hg_event_time.start_date|date('M') is not empty and node.field_hg_event_time.start_date|date('M') is same as(node.field_hg_event_time.end_date|date('M')) %}
        <div class="col month">
          {{ node.field_hg_event_time.start_date|date('M') }}
        </div>
      {% else %}
        {# Multi #}
        <div class="col month-multi">
          {{ node.field_hg_event_time.start_date|date('M')  ~ ' - ' ~ node.field_hg_event_time.end_date|date('M') }}
        </div>
      {% endif %}
      {# Date #}
      {% if node.field_hg_event_time.start_date|date('j') is not empty and node.field_hg_event_time.start_date|date('j') is same as(node.field_hg_event_time.end_date|date('j')) %}
        <div class="col date">
          {{ node.field_hg_event_time.start_date|date('j') }}
        </div>
      {% else %}
        {# Multi #}
        <div class="col date-multi">
          {{ node.field_hg_event_time.start_date|date('j')  ~ ' - ' ~ node.field_hg_event_time.end_date|date('j') }}
        </div>
      {% endif %}
      {# Year #}
      {% if node.field_hg_event_time.start_date|date('Y') is not empty and node.field_hg_event_time.start_date|date('Y') is same as(node.field_hg_event_time.end_date|date('Y')) %}
        <div class="col year">
          {{ node.field_hg_event_time.start_date|date('Y') }}
        </div>
      {% else %}
        {# Multi #}
        <div class="col year-multi">
          {{ node.field_hg_event_time.start_date|date('Y')  ~ ' - ' ~ node.field_hg_event_time.end_date|date('Y') }}
        </div>
      {% endif %}
      {# Time #}
      {% if node.field_hg_event_time.start_date|date('g:iA', 'UTC') is not empty and node.field_hg_event_time.start_date|date('g:iA', 'UTC') is same as(node.field_hg_event_time.end_date|date('g:iA', 'UTC')) %}
        <div class="d-flex justify-content-center time my-4">
          All day
        </div>
      {% else %}
        {# Multi #}
        <div class="d-flex justify-content-center time-multi my-4">
          {{ node.field_hg_event_time.start_date|date('g:iA', false)  ~ ' - ' ~ node.field_hg_event_time.end_date|date('g:iA', false) }}
        </div>
      {% endif %}
    </div> <!-- end date-wrapper -->
  </div> <!-- end col -->

  {# Col Two #}
  <div class="col-md-8 col-sm-6 col-xs-12">
    {# Title #}
    {% if node.title.value is not empty %}
      <div class="hg-title">
        <a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><h3>{{ node.title.value }}</h3></a>
      </div>
    {% endif %}
    {# Summary Sentence #}
    {% if node.field_hg_summary_sentence.value is not empty %}
      <div class="summary-sentence">
        {{ node.field_hg_summary_sentence.value }}
      </div>
    {% endif %}

    {# Link to Content #}
    <div class="mx-1 my-4">
      <a class="btn btn-secondary" href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'Read More'|t }}</a>
    </div>

  </div><!-- end col -->

</div> {# END // HG Event View Template #}
